body {
    margin: 0;
    overflow: hidden;
    font-family: 'Tahoma', sans-serif;
}
.countries .land {
    fill: #ececec;
}
.countries .interiors {
    fill: none;
    stroke: #d9dfe0;
}
.worldGraticule .sphere {
    fill: #fbfbfb;
}
.worldGraticule .graticule, .tick line {
    fill: none;
    stroke: #ececec;
}
circle {
    fill: #137B80;
    opacity: 0.3;
}
.tick text {
    font-size: 0.5em;
    fill:#8E8883;
}
.mark {
    fill: #137B80;
}
.axis-label {
    font-size: 0.5em;
    fill:#8E8883;
}
.intro {
    color:black;
    text-overflow: ellipsis;
    max-width: 960px;
    font-size: 0.75em;
}
.introTitle {
    font-size: 1em;
    font-weight: bold;
    color:black;
}